:root {
    --primary: #2563EB;
    --secondary: #0D9488;
    --tertiary: #BC4800;
    --neutral: #F8FAFC;

    --font-sm-color: #434655;
    --font-large-color: #191C1E;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

p {
    color: var(--font-sm-color);
}

h1, h2, h3 {
    color: var(--font-large-color);
}

a {
    text-decoration: none;
    color: var(--font-sm-color);
    font-size: 1.6rem;
}


.navegacion-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 24px;
    margin: 0 auto;
}

.enlace-principal {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.btn-contratar {
    border-radius: 20px;
    background-color: var(--primary);
    padding: 8px 40px;
    text-align: center;
    color: var(--neutral);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
}

.header h1 {

    font-size: 4.8rem;
    color: var(--font-large-color);
}

.header p {
    font-size: 1.8rem;
    color: var(--font-sm-color);
}

.header h1, .header p {
    text-align: center;
}

.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.img-set-up {
    height: 400px;
    width: 500px;
    border-radius: 20px;
}

.contenedor-tecnologia {
    border-radius: 15px;
    margin: 0 8px;
    padding: 4px 16px;
    height: 10%;
    background-color: #E0E3E5;
}


.tecnologias {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.servicios {
    text-align: center;
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicios h2 {
    font-size: 3.2rem;
    color: var(--font-large-color);
    font-weight: bold;
}

.servicios p {
    font-size: 1.6rem;
    color: var(--font-sm-color);
    font-weight: normal;
}


.servicio {
    padding: 40px;
    margin: 15px;
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 1px;
    background-color: var(--neutral);
    text-align: start;
}

.contenedor-icon {
    border-radius: 8px;
    width: 4.8rem;
    height: 4.8rem;
    color: var(--neutral);
    text-align: center;
    padding: 1rem;
}

.contenedor-icon.web {
    background-color: var(--primary);
}

.contenedor-icon.tool {
    background-color: var(--secondary);
    border-color: var(--primary);
}

.contenedor-icon.perfomance {
    background-color: var(--tertiary);
}

.servicio h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--font-large-color);
}

.servicio p {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--font-sm-color);
}

.section-formulario {
    padding-bottom: 2rem;
}

.formulario.btn-contratar {
    text-align: end;
}

.formulario fieldset {
    border-radius: 1.2rem;
    padding: 5.7rem 4rem 4rem 4rem;
    margin: 0 2.4rem;
    display: flex;
    flex-direction: column;
}

.formulario input[type='text'] {
    padding: 1rem 1.6rem 1.2rem 1.6rem;
    border-radius: 0.6rem;
    background-color: #FFFFFF;
}

footer {
    padding: 0 8rem;
}
.contenedor-footer {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2.4rem;
    margin: 0 auto;
    width: 100%;
    background-color: #F2F4F6;
}