:root {
    --primary: #2563EB;
    --secondary: #0D9488;
    --tertiary: #BC4800;
    --neutral: #F8FAFC;

    --font-sm-color: #434655;
    --font-large-color: #191C1E;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

p, a {
    color: var(--font-sm-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    color: var(--font-large-color);

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--font-sm-color);
    font-size: 1.6rem;
}

.navegacion-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 24px;
    margin: 0 auto;
}



.enlace-principal {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.btn-contratar {
    border-radius: 20px;
    background-color: var(--primary);
    padding: 8px 40px;
    text-align: center;
    color: var(--neutral);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
}

.header h1 {

    font-size: 4.8rem;
    color: var(--font-large-color);
}

.header p {
    font-size: 1.8rem;
    color: var(--font-sm-color);
}

.header h1,
.header p {
    text-align: center;
}

.header .btn-contratar {
    margin-bottom: 2.4rem;
}

.sobre-mi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px;
    background-color: #F8FAFC;
}

.contenido-texto {
    flex: 1;
}

.img-set-up {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
}

.contenedor-tecnologia {
    border-radius: 15px;
    padding: 6px 16px;
    background-color: #E0E3E5;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

.servicios {
    text-align: center;
}


.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicios h2 {
    font-size: 3.2rem;
    color: var(--font-large-color);
    font-weight: bold;
}

.servicios p {
    font-size: 1.6rem;
    color: var(--font-sm-color);
    font-weight: normal;
}


.servicio {
    padding: 40px;
    margin: 15px;
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 1px;
    background-color: var(--neutral);
    text-align: start;
}

.contenedor-icon {
    border-radius: 8px;
    width: 4.8rem;
    height: 4.8rem;
    color: var(--neutral);
    text-align: center;
    padding: 1rem;
}

.contenedor-icon.web {
    background-color: var(--primary);
}

.contenedor-icon.tool {
    background-color: var(--secondary);
    border-color: var(--primary);
}

.contenedor-icon.perfomance {
    background-color: var(--tertiary);
}

.servicio h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--font-large-color);
}

.servicio p {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--font-sm-color);
}

.section-formulario {
    width: auto;
    height: auto;
    padding: 6.4rem 8rem 8rem 8rem;
}

.contenedor-formulario {
    margin: 0 2.3rem;
    padding: 0 2.4rem;
}

.formulario fieldset {
    border-radius: 1.2rem;
    padding: 5.7rem 4rem 4rem 4rem;
    margin: 0 2.4rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.campo label {
    margin-bottom: 0.5rem;
}

.formulario input[type='text'],
.formulario input[type='email'],
.formulario textarea {
    padding: 1rem 1.6rem 1.2rem 1.6rem;
    border-radius: 0.6rem;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contenedor-campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.campo:nth-child(3) {
    grid-column: 1 / 3;
}

.input-text {
    width: 100%;
}

.formulario .btn-contratar {
    grid-column: 1 / 3;
    width: 100%;
    padding: 1.5rem;
    margin-top: 2.4rem;
    background-color: var(--primary);
    color: var(--neutral);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}

footer {
    padding: 0 8rem;
}

.contenedor-footer .enlace-principal {
    width: 30%;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 2.4rem;
    margin: 0 auto;
    background-color: #F2F4F6;
}

.contenedor-footer p {
    width: 40%;
}